/* Info_Accordion.module.css */

.accordion_container {
    display: flex;
    flex-direction: column;
    /* padding: 0 20px; */
    gap: 20px;
  }
  
  .accordion_container_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.3s ease; /* Transição suave de cor para o título */
  }
  
  .accordion_container_title h1 {
    color: var(--grey300);
    font-size: 16px;
    
  }
  
  .accordion_container_title button {
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--grey300);
    transition: color 0.3s ease; /* Transição suave de cor para o botão */
  }
  
  .accordion_container_title_off {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px var(--grey200) solid;
    transition: color 0.3s ease; /* Transição suave de cor para o título */
  }
  
  .accordion_container_title_off h1 {
    color: var(--grey200);
    font-size: 16px;
    padding-bottom: 25px;
  }
  
  .accordion_container_title_off button {
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--grey200);
    transition: color 0.3s ease; /* Transição suave de cor para o botão */
  }
  
  .accordion_container_description {
    margin-bottom: 10px;

    max-height: 1000px; /* Altura máxima para garantir a transição completa */
    overflow: hidden;
    transition: max-height 0.3s ease; /* Transição suave de altura */
    border-bottom: 0.5px var(--grey200) solid;
  }
  
  .accordion_container_description p {
    color: var(--grey300);
    font-size: 14px;
    padding-bottom: 50px;
  }
  
  .accordion_container_description_off {
    margin-bottom: 10px;
    max-height: 0;
    border: none;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Transição suave de altura */
  }
  
  .accordion_container_description_off p {
    color: var(--grey200);
    font-size: 14px;
  }
  