:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --amber500: #FCC11A;
  --grey200: #B0B0B0;
  --grey250: #F7F6FB;
  --grey300: #D9D9D9;
  --grey400: #A6A6A6;
  --blue800: #091222;
}
