.buuton_container {
  background-color: var(--blue800);
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 14;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
